*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image: url(brenda-godinez-229718.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav
{
	float:right;
	list-style: none;
	margin-top:30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav a
{
	color: white;
	text-decoration: none;
	padding:5px 20px;
	font-family:"roboto",sans-serif;
	font-size:15;
}

.main-nav li.active a
{
	border:1px solid white;
}

.main-nav li a:hover
{
	border:1px solid white;
}

.row
{
	margin-left: 20px;
	
}