body{

  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;

}

/* .image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
} */

section{
  padding: 30vh 0;
}

.icon{
  background: rgba( 0, 0, 0, .5);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
