*
{
  margin: 0;
  padding: 0;
}
.bdy
{
  background-color: #2c313d;
}
.ban
{
  width: 100%;
}
.wrapper
{
  width:94%;
  margin:0 3% 80px;
}

.an
{
  width:100%;
  padding: 0 auto 20px;
}

.imginfo h2
{
  width: 100%;
  margin: 0 auto 0;
  padding: 30px 0 30px;
  text-align: center;
  font-size: 50px;
  font-family: arial;
  color: gray;
  background-color:black;
}

.imginfo p
{
  width: 100%;
  font-size:30px;
  font-family: arial;
  color: #a4a9b2;
  background-color: black;
  margin: 0 auto 0;
  padding: 40px 0 40px 0 ;

}
.anonn1
{
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 0 auto;
}
