*
{
  margin: 0;
  padding: 0;
}
body
{
    background-color: #eee;
}

.wrapper
{
  margin: 0 auto 0 auto;
  width: 1000px;
  background-color: yellow;
}
nav
{
    height: 100px;
    width: 100%;
    background-color: powderblue;
}

ul
{
  margin-left: 80px;
}
ul li
{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}
ul li a
{
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color:gray;
  padding:0 20px;
}
ul li a:hover
{
  color:red;
}
.h1
{
  font-size: 100px;
  color: gray;
  text-align:left;
  float: middle;
}
