
.shobuj{
	color: green;
	text-align: center;
	text-decoration: underline;
}

.flag-body{
	width: 450px;
	height: 300px;
	box-shadow:0 0 50px grey;
	color: white;
	text-align: center;
	background-color: green;
	margin: auto;
	border: 1px solid green;
}
.red-circle{
	width: 126px;
	height: 126px;
	background: red;
	margin-top: 87px;
	margin-left: 163px;
	border-radius: 50%;
}
a{
	color: white;
	background: black;
	margin-top: 200px;
	display: block;
	width: 200px;
	text-align: center;
	padding: 100px;
}